PORT=3000

NODE_ENV=production

AI_API_KEY=
AI_MODEL=

DATABASE_PROVIDER=POSTGRESQL
DATABASE_URL=

BLOGGER_API_KEY=
BLOGGER_BLOG_ID=

GOOGLE_SITE_URL=

PUBLIC_SITE_URL=

ADSENSE_CLIENT_ID=

PUSH_PUBLIC_KEY=
PUSH_PRIVATE_KEY=

SMS_API_KEY=
SMS_SENDER_ID=

CRON_SECRET=

ADMIN_API_TOKEN=